<div id="errMsg" class="row">
  <% if flash[:error] %>
  <div class="alert alert-error span5">
    <a class="close" data-dismiss="alert">&times;</a>
    <%= flash[:error] %>
  </div>
  <% end %>
</div>

<section>
  <div class="row">
    <div class="span3">
      <h2>Codes <small>click to edit</small></h2>
    </div>
    <div class="span2 export">
      <a href="<%= url('codes/csv') %>" class="btn">
        <i class="icon-share-alt"></i>
        export .csv
      </a>
    </div>
  </div>
  <div class="well codes-outer">
    <ul id="codes">
    <% @codes.each do |code| %>
      <li data-id="<%= code.id %>"><%= code.code %></li>
    <% end %>
    </ul>
    <div class="clear"></div>
  </div>
</section>

<form class="form-inline">
  Generate
  <input type="text" class="span1" id="codecount" value="1" />
  Code(s) that start with
  <input type="text" class="span2" id="codeword" placeholder="Code Word (optional)..." />
  <button id="genCode" class="btn">
    <i class="icon-plus"></i>
    Go!
  </button>
  <button id="saveCode" class="btn btn-success hide">
    <i class="icon-ok-circle"></i>
    Save Code
  </button>
</form>

<section>
  <div class="row">
    <div class="span4">
      <h2>Downloads</h2>
    </div>
    <div class="span2">
      <a id="checkall" class="btn btn-small"><i class="icon-ok-circle"></i>Check all</a>
    </div>
    <div class="span2">
      <a id="uncheckall" class="btn btn-small"><i class="icon-remove-circle"></i>Uncheck all</a>
    </div>
  </div>
  <div class="well">
    <div class="row header-row">
      <div class="span1"><h4>Authorize?</h4></div>
      <div class="span3 dl-title"><h4>Title</h4></div>
      <div class="span2"><h4>Format</h4></div>
      <div class="span2"><h4>Storage Type</h4></div>
      <div class="span2 center"><h4>Count</h4></div>
      <div class="span1"><h4>Delete?</h4></div> 
    </div>
    <% @downloads.each do |download| %>
    <div class="row">
      <div class="span1">
        <input data-id="<%= download.id %>" class="dl-check pull-left" type="checkbox" id="dl-check<%= download.id %>" />
      </div>
      <div class="span3 dl-title"><label for="dl-check<%= download.id %>"><%= download.title %></label></div>
      <div class="span2">
          <span><%= download.format %></span>
      </div>
      <div class="span2">
        <span><%= download.storage %></span>
      </div>
      <div class="span2 center">
        <input data-id="<%= download.id %>" class="dl-count input-mini" type="text" value="<%= @default_count %>" />
      </div>
      <div class="span1">
        <i class="icon-remove dl-delete" data-id="<%= download.id %>"></i>
      </div>
    </div>
    <% end %>
  </div>
</section>

<section>
  <button class="btn" data-toggle="collapse" data-target="#newdl">
    <i class="icon-plus"></i>
    Add New Download
  </button>
  <div id="newdl" class="collapse in">
    <form method="post" action="<%= url('download/new') %>" enctype="multipart/form-data">
      <div class="control-group">
        <label class="control-label">Title</label>
        <div class="controls">
          <input type="text" name="title" />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">File</label>
        <div class="controls">
          <input type="file" name="download_file" />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Storage</label>
          <div class="controls">
            <select class="input-small" id="storage" name="storage">
              <option value="local">Local</option>
              <option value="s3">Amazon S3</option>
            </select>
          </div>
      </div>
      <button class="btn btn-primary" type="submit">Upload</button>
    </form>
  </div>
</section>

<% content_for :scripts do %>
<script type="text/javascript">
jQuery(function ($) {

  $('.collapse').collapse();
  
  var code_downloads = { <%= 
    @codes.map { |code| 
      code.id.to_s << ": " << code.code_downloads.all.map { |dc| 
        { :id => dc.download_id, :count => dc.count } 
      }.to_json.to_s 
    }.join(',') 
  %>}; 

  function setDownloads(code_id) {
    $('.dl-check').attr('checked', false);
    $('.dl-count').val(<%= @default_count %>);

    if (!code_downloads[code_id]) {
      return;
    }

    $.each(code_downloads[code_id], function (idx, dl) {
      $('.dl-check[data-id='+dl.id+']').attr('checked', 'checked');
      $('.dl-count[data-id='+dl.id+']').val(dl.count)
    }); 
  }

  $('.dl-check, .dl-count').change(function () {
    if (current_code_id) {
      $('#saveCode').fadeIn();
    }
  });

  var current_code_id = 0;
  $('#codes li').live('click', function () {
    var $this = $(this);
    if ($this.hasClass('selected')) {
      $this.removeClass('selected');
      current_code_id = 0;
      $('#saveCode').fadeOut();
    }
    else {
      $('#codes li.selected').removeClass('selected');
      $this.addClass('selected');
      current_code_id = $this.attr('data-id');
    }
    setDownloads(current_code_id);
  });

  function saveDownloads() {
    var downloads = {};
    $('.dl-check:checked').each(function () {
      var thisid = $(this).attr('data-id');
      var count = $('.dl-count[data-id='+thisid+']').val();
      downloads[thisid] = count;
    });

    return downloads;
  }

  $('#genCode').click(function () {
    var downloads = saveDownloads();
    var params = {
      downloads: downloads
    };

    if ($('#codeword').val()) {
      params.codeword = $('#codeword').val();
    }

    var count = $('#codecount').val();
    if (!count) count = 1;
    params.count = count;

    $.post('<%= url('codes') %>', params, function (response) {
      console.log(response);

      if (response.codes) {
        $.each(response.codes, function (idx, code) { 
          $('#codes').append($('<li data-id="'+code.id+'">'+code.code+'</li>'));
          var code_dls = [];
          for (var dlid in downloads) {
            code_dls.push({id: dlid, count: downloads[dlid]});
          }
          code_downloads[code.id] = code_dls;
        }); 
      }
      else if (response.error) {
        displayError(response.error);
      }
    }).error(function (err) {
      console.log(err);
    });

    return false;
  });

  $('#saveCode').click(function () {
    var code_id   = $('#codes li.selected').attr('data-id');
    var downloads = saveDownloads();

    var params = {
      downloads: downloads
    };

    $.ajax({
      url: '<%= url('codes') %>/'+code_id, 
      type: 'PUT',
      dataType: 'json',
      data: params,
      success: function (response) {
        console.log(response);

        if (response.code) {
          var code_dls = [];
          for (var dlid in downloads) {
            code_dls.push({id: dlid, count: downloads[dlid]});
          }
          code_downloads[response.id] = code_dls;
          $('#saveCode').fadeOut();
        }
        else if (response.error) {
          displayError(response.error);
        }
      }
    });

    return false;
  });

  $('.dl-delete').live('click', function () {
    var dl_id = $(this).attr('data-id');
    var title = $(this).parent().siblings('.dl-title').text();
    var dl_row = $(this).parent().parent(); 

    if (confirm('Are you sure you want to delete "' + title + '"?')) {
      $.ajax({
        url: '<%= url('download') %>/'+dl_id, 
        type: 'DELETE',
        dataType: 'json',
        success: function (response) {
          console.log(response);

          if (response.error) {
            displayError(response.error);
          }

          dl_row.fadeOut('slow', function () {
            $(this).remove();
          });
        }
      });
    }
  });

  $('#checkall').click(function () {
    $('.dl-check').attr('checked', 'checked');
  });

  $('#uncheckall').click(function () {
    $('.dl-check').attr('checked', false);
  });

  function displayError(errmsg) {
    var err = '<div class="alert alert-error span5"><a class="close" data-dismiss="alert">&times;</a>';
    err += errmsg;
    err += '</div>';

    $('#errMsg').css('display', 'none').append($(err)).fadeIn();
  }

});
</script>
<% end %>