<div id="errMsg" class="row">
</div>
<section>
  <h2>Codes <small>click to edit</small></h2>
  <div class="well codes-outer">
    <ul id="codes">
    <% @codes.each do |code| %>
      <li data-id="<%= code.id %>"><%= code.code %></li>
    <% end %>
    </ul>
    <div class="clear"></div>
  </div>
</section>
<p>
  <a id="genCode" class="btn">
    <i class="icon-plus"></i>
    Generate Code
  </a>
</p>
<section>
  <div class="row">
    <div class="span4">
      <h2>Downloads</h2>
    </div>
    <div class="span2">
      <a id="checkall" class="btn btn-small"><i class="icon-ok-circle"></i>Check all</a>
    </div>
    <div class="span2">
      <a id="uncheckall" class="btn btn-small"><i class="icon-remove-circle"></i>Uncheck all</a>
    </div>
  </div>
  <% @downloads.each do |download| %>
  <div class="row">
    <div class="span1">
      <input data-id="<%= download.id %>" class="dl-check pull-left" type="checkbox" />
    </div>
    <div class="span3"><%= download.title %></div>
    <div class="span2">
        <span><%= download.format %></span>
    </div>
    <div class="span2">
      <a class="downLink" href="<%= url("download/#{session[:code]}/#{download.id}") %>">http</a> | <a href="#">torrent</a>
    </div>
    <div class="span2 center">
      <input data-id="<%= download.id %>" class="dl-count input-mini" type="text" value="5" />
    </div>
  </div>
  <% end %>
</section>

<% content_for :scripts do %>
<script type="text/javascript">
jQuery(function ($) {
  
  var code_downloads = { <%= 
    @codes.map { |code| 
      code.id.to_s << ": " << code.code_downloads.all.map { |dc| 
        { :id => dc.download_id, :count => dc.count } 
      }.to_json.to_s 
    }.join(',') 
  %>}; 

  function setDownloads(code_id) {
    $('.dl-check').attr('checked', false);
    $('.dl-count').val(5);

    if (!code_downloads[code_id]) {
      return;
    }

    $.each(code_downloads[code_id], function (idx, dl) {
      $('.dl-check[data-id='+dl.id+']').attr('checked', 'checked');
      $('.dl-count[data-id='+dl.id+']').val(dl.count)
    }); 
  }

  var current_code_id = 0;
  $('#codes li').live('click', function () {
    var $this = $(this);
    if ($this.hasClass('selected')) {
      $this.removeClass('selected');
      current_code_id = 0;
    }
    else {
      $('#codes li.selected').removeClass('selected');
      $this.addClass('selected');
      current_code_id = $this.attr('data-id');
    }
    setDownloads(current_code_id);
  });

  $('#genCode').click(function () {
    var downloads = {};
    $('.dl-check:checked').each(function () {
      var thisid = $(this).attr('data-id');
      var count = $('.dl-count[data-id='+thisid+']').val();
      downloads[thisid] = count;
    });

    $.post('<%= url('codes') %>', { downloads: downloads }, function (response) {
      console.log(response);
      if (response.code) {
        $('#codes').append($('<li data-id="'+response.id+'">'+response.code+'</li>'));
        var code_dls = [];
        for (var dlid in downloads) {
          code_dls.push({id: dlid, count: downloads[dlid]});
        }
        code_downloads[response.id] = code_dls;
      }
      else if (response.error) {
        var err = '<div class="alert alert-error span5"><a class="close" data-dismiss="alert">&times;</a>';
        err += response.error;
        err += '</div>';

        $('#errMsg').css('display', 'none').append($(err)).fadeIn();
      }
    }).error(function (err) {
      console.log(err);
    });
  });

  $('#checkall').click(function () {
    $('.dl-check').attr('checked', 'checked');
  });

  $('#uncheckall').click(function () {
    $('.dl-check').attr('checked', false);
  });

});
</script>
<% end %>