<h3>Thank you. Your code is authorized for the following downloads:</h3>
<div class="download-container well">
  <div class="download-heading row">
    <div class="span5">Title</div>
    <div class="span2">Format</div>
    <div class="span2">Download</div>
    <div class="span2 center">Downloads Remaining</div>
  </div>
  <% @downloads.each do |download| %>
  <div class="row">
    <div class="span5"><%= download.title %></div>
    <div class="span2">
      <select class="input-small">
        <option><%= download.format %></option>
      </select>
    </div>
    <div class="span2">
      <a class="downLink" href="<%= download_url_for download %>">http</a>
      <% if download.storage == "s3" %> | <a href="<%= torrent_url_for download %>">torrent</a> <% end %>
    </div>
    <div class="span2 center">
      <%= download.code_downloads.first(:code => @code).count %>
    </div>
  </div>
  <% end %>
</div>

<% content_for :scripts do %>
<script type="text/javascript">
jQuery(function ($) { 
	$('.downLink').click(function () {
		var $cnt_div = $(this).parent().next();
		var dlcount = parseInt($cnt_div.text());
		dlcount--;
		$cnt_div.text(dlcount);

    if (dlcount == 0) {
      $cnt_div.parent().fadeOut('slow', function () {
        $(this).remove();
      });
    }
	});
});
</script>
<% end %>
